.compcontain {
  text-align: center;
  border: 1px solid grey;
  border-radius: 15px;
  padding: 0px;
  margin: 0px;
  background-color: rgb(97, 125, 137);
}
.Navbar {
  background-color: rgb(97, 125, 137);
}


// .canna-card {
//   color: yellowgreen!important;
//   width: 100%!important;
//   margin: 0px!important;
//   padding: 10px!important;
//   text-align: center!important;
// }
// .canna-header {
//   font-size: 45!important;
//   background-color: rgb(96,125,139)!important;
//   font-color: yellowgreen!important;
//   width: 100%!important;
//   margin: 0px!important;
//   padding: 15px!important;
//   .div {
//     padding: 0!important;
//   }
//
//   text-align: center!important;
// }
