/* roboto-condensed-regular - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css?family=Roboto+Condensed'); /* IE9 Compat Modes */
}

html, body {
  font-family: 'Roboto Condensed', sans-serif;
}
